.form-field input{
    padding: 5px 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
}

.form{
    margin-top: 20px;
}

.form-field label{
    font-size: 18px;
    font-weight: 500;
    color: antiquewhite;
}